*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexitem {
  display: flex;
  align-items: center;
}
