// fonts
@import url('https://fonts.googleapis.com/css?family=Inter:regular&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:regular,500,600,700,800,italic,500italic,600italic,700italic,800italic)&display=swap');
// colors
$white-color: #fff;
$choco-color: #383230;
$light-color: #FEFDFC;
$milk-color: #F9F7F4;
$dark-color: #171722;
$black-color: #000;
$gray-color: #555;
$beige-color: #E0DBD2;
$light-gray-color: #8C8C8C;
$light-choco-color: #817A70;

