// fonts
@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:regular,500,600,700,800,italic,500italic,600italic,700italic,800italic)&display=swap");
// colors
$white-color: #fff;
$choco-color: #383230;
$light-color: #fefdfc;
$milk-color: #f9f7f4;
$dark-color: #171722;
$black-color: #000;
$gray-color: #555;
$beige-color: #e0dbd2;
$light-gray-color: #8c8c8c;
$light-choco-color: #817a70;

$first-font: "Inter", sans-serif;
$second-font: "IBM Plex Mono", sans-serif;
$third-font: "EB Garamond";

$transition: all 0.3s ease;

$border: 1px solid $black-color;
$border-radius: 5px;

@mixin title {
  font-family: $third-font;
  line-height: 3rem;
  letter-spacing: 2px;
  text-align: center;
}