
<footer class="footer">
    <div class="footer-container container">
        <div class="footer-content">
            <div class="footer-info">
                <div class="footer-stay">
                    <h2>Stay in touch.</h2>
                    <p>Sign up to be the first to know about new collections and exclusive events.</p>
                    <div class="footer-form">
                        <form>
                            <input type="text">
                            <button class="btn">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="footer-menu">
                    <ul class="footer-list">
                        <li class="footer-column">
                            <p>Company</p>
                            <ul>
                                <li>
                                    Our Story
                                </li>
                                <li>
                                    Corporate Gifts
                                </li>
                                <li>
                                    Careers
                                </li>
                                <li>
                                    Press
                                </li>
                            </ul>
                        </li>
                        <li class="footer-column">
                            <p>Services</p>
                            <ul>
                                <li>
                                    Membership
                                </li>
                                <li>
                                    FAQs
                                </li>
                                <li>
                                    Help Center
                                </li>
                                <li>
                                    Contact Us
                                </li>
                                <li>
                                    Returns
                                </li>
                                <li>
                                    Track Orders
                                </li>
                                <li>
                                    Accessibility
                                </li>
                            </ul>
                        </li>
                        <li class="footer-column">
                            <p>Guides</p>
                            <ul>
                                <li>
                                    The Cashmere Guide
                                </li>
                                <li>
                                    Resort-Grade Bedding
                                </li>
                                <li>
                                    Guide to Fine Jewelry
                                </li>
                                <li>
                                    Beauty Guide
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-copy">
                <div class="footer-box">
                    <ul class="footer-copy__list">
                        <li>
                            <a href="#">
                                <img src="../images/mini.svg" alt="mini logo">
                            </a>
                        </li>
                        <li>
                            © 2023 Italic, Inc. All Rights Reserved.
                        </li>
                        <li>Privacy Policy</li>
                        <li>Terms of Use</li>
                    </ul>
                </div>
                <div class="footer-box">
                    <ul class="footer-social">
                        <li><a href="#"><img src="../images/tt.svg" alt="tiktok"></a></li>
                        <li><a href="#"><img src="../images/inst.svg" alt="inst"></a></li>
                        <li><a href="#"><img src="../images/utube.svg" alt="utube"></a></li>
                        <li><a href="#"><img src="../images/pint.svg" alt="pint"></a></li>
                        <li><a href="#"><img src="../images/twit.svg" alt="twit"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="js/main.min.js"></script>
</body>
</html>