<section class="home">
  <div class="home-container">
    <div class="home-content">
      <div class="home-text">
        <h2 class="title">Luxury without labels.</h2>
      </div>
      <div class="home-img">
        <img src="../images/bg.webp" alt="home background" />
      </div>
    </div>
  </div>
</section>

<section class="brand">
  <div class="brand-container">
    <div class="brand-content">
      <div class="brand-text flexcenter">
        <p class="title">
          Unbranded luxury-grade essentials from the same manufacturers as your
          favorite brands. No logos, no markups.
        </p>
        <a href="#">Learn More</a>
      </div>
      <ul class="brand-list flexcenter">
        <li>
          <a href="#"><img src="../images/brands-1.webp" alt="vogue" /></a>
        </li>
        <li>
          <a href="#"><img src="../images/brands-2.webp" alt="new york" /></a>
        </li>
        <li>
          <a href="#"
            ><img src="../images/brands-3.webp" alt="wall street"
          /></a>
        </li>
        <li>
          <a href="#"><img src="../images/brands-4.webp" alt="foodnwine" /></a>
        </li>
        <li>
          <a href="#"><img src="../images/brands-5.webp" alt="traveller" /></a>
        </li>
        <li>
          <a href="#"><img src="../images/brands-6.webp" alt="cuardian" /></a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="product">
  <div class="product-container container">
    <div class="product-content">
      <div class="product-box">
        <div class="box-img">
          <img src="../images/skincare.webp" alt="scincare product" />
        </div>
        <h3>Skincare Saviors</h3>
        <p>Upgrade your routine with prestige formulas for every skin type.</p>
      </div>
      <div class="product-box">
        <div class="box-img">
          <img src="../images/home.webp" alt="home product" />
        </div>
        <h3>Make Yourself at Home</h3>
        <p>
          Transform your space with plush bath towels and cozy robes to rival
          any resort.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="new">
  <div class="new-container container">
    <div class="new-content">
      <div class="new-text">
        <h3 class="text-title">New arrivals.</h3>
        <p>Explore new-in products and future bestsellers.</p>
        <a href="#" class="btn">Shop New Arrivals</a>
      </div>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide box">
            <div class="box-img">
              <p>NEW</p>
              <img src="../images/jewerly-1.webp" alt="jewerly" />
              <a href="#" class="btn flexcenter">Quick View</a>
            </div>
            <div class="box-info">
              <h4>14k Solid Gold Diamond Drop Chain Earrings</h4>
              <p>Same manufacturer as</p>
              <ul class="box-brands flexitem">
                <li>
                  <a href="#">Van Cleef</a>
                </li>
                <li>
                  <a href="#">BVLGARI</a>
                </li>
              </ul>
              <div class="box-price flexitem">
                <p>$315</p>
                <span>2 Colors</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide box">
            <div class="box-img">
              <p>NEW</p>
              <img src="../images/jewerly-1.webp" alt="jewerly" />
              <a href="#" class="btn flexcenter">Quick View</a>
            </div>
            <div class="box-info">
              <h4>14k Solid Gold Diamond Drop Chain Earrings</h4>
              <p>Same manufacturer as</p>
              <ul class="box-brands flexitem">
                <li>
                  <a href="#">Van Cleef</a>
                </li>
                <li>
                  <a href="#">BVLGARI</a>
                </li>
              </ul>
              <div class="box-price flexitem">
                <p>$315</p>
                <span>2 Colors</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide box">
            <div class="box-img">
              <p>NEW</p>
              <img src="../images/jewerly-1.webp" alt="jewerly" />
              <a href="#" class="btn flexcenter">Quick View</a>
            </div>
            <div class="box-info">
              <h4>14k Solid Gold Diamond Drop Chain Earrings</h4>
              <p>Same manufacturer as</p>
              <ul class="box-brands flexitem">
                <li>
                  <a href="#">Van Cleef</a>
                </li>
                <li>
                  <a href="#">BVLGARI</a>
                </li>
              </ul>
              <div class="box-price flexitem">
                <p>$315</p>
                <span>2 Colors</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hiit">
  <div class="hiit-container container">
    <div class="hiit-content">
      <div class="hiit-text">
        <h2 class="title">HIIT Refresh</h2>
        <div class="desc flexitem">
          <p>
            Take your workouts to the next level with supremely soft activewear
            that's made to move with you.
          </p>
          <a href="#" class="btn">Discover More</a>
        </div>
      </div>
      <div class="hiit-products">
        <div class="hiit-products__img">
          <img src="../images/body-1.webp" alt="body" />
        </div>
        <div class="hiit-products__grid">
          <div class="hiit-product box">
            <div class="box-img">
              <img src="../images/body-2.webp" alt="body" />
              <a href="#" class="btn flexcenter">Quick View</a>
            </div>
            <div class="box-info">
              <h4>Aura Contour Jacket</h4>
              <p>Same manufacturer as</p>
              <ul class="box-brands flexitem">
                <li>
                  <a href="#">Vilebrequin</a>
                </li>
                <li>
                  <a href="#">Stella McCartney</a>
                </li>
              </ul>
              <div class="box-price flexitem">
                <p>$58</p>
                <span>2 Colors</span>
              </div>
            </div>
          </div>
          <div class="hiit-product box">
            <div class="box-img">
              <img src="../images/body-3.webp" alt="body" />
              <a href="#" class="btn flexcenter">Quick View</a>
            </div>
            <div class="box-info">
              <h4>Aura Active Sports Tank</h4>
              <p>Same manufacturer as</p>
              <ul class="box-brands flexitem">
                <li>
                  <a href="#">Vilebrequin</a>
                </li>
                <li>
                  <a href="#">Stella McCartney</a>
                </li>
              </ul>
              <div class="box-price flexitem">
                <p>$39</p>
                <span>1 Color</span>
              </div>
            </div>
          </div>
          <div class="hiit-product box">
            <div class="box-img">
              <img src="../images/body-4.webp" alt="body" />
              <a href="#" class="btn flexcenter">Quick View</a>
            </div>
            <div class="box-info">
              <h4>Aura Active Bodysuit</h4>
              <p>Same manufacturer as</p>
              <ul class="box-brands flexitem">
                <li>
                  <a href="#">Vilebrequin</a>
                </li>
                <li>
                  <a href="#">Stella McCartney</a>
                </li>
              </ul>
              <div class="box-price flexitem">
                <p>$65</p>
                <span>2 Colors</span>
              </div>
            </div>
          </div>
          <div class="hiit-product box">
            <div class="box-img">
              <p>Trending</p>
              <img src="../images/body-5.webp" alt="body" />
              <a href="#" class="btn flexcenter">Quick View</a>
            </div>
            <div class="box-info">
              <h4>Aura Racerback Sports Bra</h4>
              <p>Same manufacturer as</p>
              <ul class="box-brands flexitem">
                <li>
                  <a href="#">Vilebrequin</a>
                </li>
                <li>
                  <a href="#">Stella McCartney</a>
                </li>
              </ul>
              <div class="box-price flexitem">
                <p>$25</p>
                <span>4 Colors</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bonus">
  <div class="bonus-container container">
    <div class="bonus-content">
      <h3>Explore even more.</h3>
      <div class="bonus-list flexcenter">
        <div class="bonus-box">
          <div class="bonus-img">
            <img src="../images/more-1.webp" alt="more" />
          </div>
          <p>Women's Clothing</p>
        </div>
        <div class="bonus-box">
          <div class="bonus-img">
            <img src="../images/more-2.webp" alt="more" />
          </div>
          <p>Bath</p>
        </div>
        <div class="bonus-box">
          <div class="bonus-img">
            <img src="../images/more-3.webp" alt="more" />
          </div>
          <p>Kitchen</p>
        </div>
        <div class="bonus-box">
          <div class="bonus-img">
            <img src="../images/more-4.webp" alt="more" />
          </div>
          <p>Bedding</p>
        </div>
        <div class="bonus-box">
          <div class="bonus-img">
            <img src="../images/more-5.webp" alt="more" />
          </div>
          <p>Men's Clothing</p>
        </div>
        <div class="bonus-box">
          <div class="bonus-img">
            <img src="../images/more-6.webp" alt="more" />
          </div>
          <p>Jewelry</p>
        </div>
        <div class="bonus-box">
          <div class="bonus-img">
            <img src="../images/more-7.webp" alt="more" />
          </div>
          <p>Skincare</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="product">
  <div class="product-container container">
    <div class="product-content">
      <div class="product-box">
        <div class="box-img">
          <img src="../images/kitchen.webp" alt="kitchen product" />
        </div>
        <h3>Cookware to Count On</h3>
        <p>
          Upgrade your meal prep and stick to your resolutions with Italic
          cookware.
        </p>
      </div>
      <div class="product-box">
        <div class="box-img">
          <img src="../images/bed.webp" alt="Indulgent Bedding" />
        </div>
        <h3>Indulgent Bedding</h3>
        <p>
          From breathable flax linen to silky luxe sateen, cozy up to bedding
          essentials for everyone.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="atelier">
  <div class="atelier-container container">
    <div class="atelier-content flexitem">
      <div class="atelier-text">
        <span>Atelier Series</span>
        <p>
          The capstone of luxury, with each piece representing the pinnacle of
          fine materials, master craftsmanship, and timeless design.
        </p>
        <a href="#" class="btn">Shop Now</a>
      </div>
      <div class="atelier-img">
        <img src="../images/sweater.webp" alt="sweater" />
      </div>
    </div>
  </div>
</section>

<section class="trending">
  <div class="trending-container container">
    <div class="trending-content">
      <h3>Trending</h3>
      <div class="swiper trendingSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide trending-product box">
            <div class="box-img">
              <p>trending</p>
              <img src="../images/trending-1.webp" alt="body" />
              <a href="#" class="btn flexcenter">Quick View</a>
            </div>
            <div class="box-info">
              <h4>Rafa Backpack</h4>
              <p>Same manufacturer as</p>
              <ul class="box-brands flexitem">
                <li>
                  <a href="#">Away</a>
                </li>
                <li>
                  <a href="#">Boss</a>
                </li>
              </ul>
              <div class="box-price flexitem">
                <p>$85</p>
                <span>3 Colors</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide trending-product box">
            <div class="box-img">
              <p class="atel">Atelier</p>
              <img src="../images/trending-2.webp" alt="body" />
              <a href="#" class="btn flexcenter">Quick View</a>
            </div>
            <div class="box-info">
              <h4>Cleo Oversized Cashmere Scarf</h4>
              <p>Same manufacturer as</p>
              <ul class="box-brands flexitem">
                <li>
                  <a href="#">Burberry</a>
                </li>
                <li>
                  <a href="#">Max Mara</a>
                </li>
              </ul>
              <div class="box-price flexitem">
                <p>$130</p>
                <span>3 Colors</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide trending-product box">
            <div class="box-img">
              <img src="../images/trending-3.webp" alt="body" />
              <a href="#" class="btn flexcenter">Quick View</a>
            </div>
            <div class="box-info">
              <h4>Aluminum Carry-On Suitcase</h4>
              <p>Same manufacturer as</p>
              <ul class="box-brands flexitem">
                <li>
                  <a href="#">Away</a>
                </li>
                <li>
                  <a href="#">Samsonite</a>
                </li>
              </ul>
              <div class="box-price flexitem">
                <p>$248</p>
                <span>2 Colors</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide trending-product box">
            <div class="box-img">
              <p class="atel">Atelier</p>
              <img src="../images/trending-4.webp" alt="body" />
              <a href="#" class="btn flexcenter">Quick View</a>
            </div>
            <div class="box-info">
              <h4>Amara Cashmere Wrap</h4>
              <p>Same manufacturer as</p>
              <ul class="box-brands flexitem">
                <li>
                  <a href="#">Burberry</a>
                </li>
                <li>
                  <a href="#">Max Mara</a>
                </li>
              </ul>
              <div class="box-price flexitem">
                <p>$135</p>
                <span>2 Colors</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide trending-product box">
            <div class="box-img">
              <p class="atel">Atelier</p>
              <img src="../images/trending-5.webp" alt="body" />
              <a href="#" class="btn flexcenter">Quick View</a>
            </div>
            <div class="box-info">
              <h4>Priscilla Silk Halter Mini Dress</h4>
              <p>Same manufacturer as</p>
              <ul class="box-brands flexitem">
                <li>
                  <a href="#">Stella McCartney</a>
                </li>
                <li>
                  <a href="#">Max Mara</a>
                </li>
              </ul>
              <div class="box-price flexitem">
                <p>$125</p>
                <span>3 Colors</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide trending-product box">
            <div class="box-img">
              <p class="atel">Atelier</p>
              <img src="../images/trending-5.webp" alt="body" />
              <a href="#" class="btn flexcenter">Quick View</a>
            </div>
            <div class="box-info">
              <h4>Remi Cashmere Throw</h4>
              <p>Same manufacturer as</p>
              <ul class="box-brands flexitem">
                <li>
                  <a href="#">Burberry</a>
                </li>
                <li>
                  <a href="#">Max Mara</a>
                </li>
              </ul>
              <div class="box-price flexitem">
                <p>$176</p>
                <span>3 Colors</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="most">
  <div class="most-container container">
    <div class="most-content">
      <h2 class="title">What we value most.</h2>
      <ul class="most-list">
        <li>
          <h3>Atelier-Grade Materials</h3>
          <p>Fine, rare materials for optimal performance and durability.</p>
          <div class="most-img">
            <img src="../images/value-1.webp" alt="value" />
          </div>
        </li>
        <li>
          <h3>Radical Value</h3>
          <p>
            We believe luxury is defined by the quality of product, not by the
            price tag.
          </p>
          <div class="most-img">
            <img src="../images/value-2.webp" alt="value" />
          </div>
        </li>
        <li>
          <h3>World-Class Craftsmanship</h3>
          <p>The world's best manufacturers, the same as top luxury brands.</p>
          <div class="most-img">
            <img src="../images/value-3.webp" alt="value" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="product">
  <div class="product-container container">
    <div class="product-content">
      <div class="product-box">
        <div class="box-img">
          <img src="../images/pet.webp" alt="kitchen product" />
        </div>
        <h3>The Pet Edit</h3>
        <p>
          Your best friend deserves the best. Pamper them with Italic’s pet
          essentials.
        </p>
      </div>
      <div class="product-box">
        <div class="box-img">
          <img src="../images/washing.webp" alt="Indulgent Bedding" />
        </div>
        <h3>A Winning Combination</h3>
        <p>
          Shop our most popular pairings and enjoy the savings offered through
          these curated bundles.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="like">
  <div class="like-container container">
    <div class="trending-content">
      <h3>You might like.</h3>
      <div class="swiper trendingSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide trending-product box">
            <div class="box-img">
              <img src="../images/like-1.webp" alt="body" />
              <a href="#" class="btn flexcenter">Quick View</a>
            </div>
            <div class="box-info">
              <h4>Aura Racerback Tank</h4>
              <p>Same manufacturer as</p>
              <ul class="box-brands flexitem">
                <li>
                  <a href="#">Vilebrequin</a>
                </li>
                <li>
                  <a href="#">Stella McCartney</a>
                </li>
              </ul>
              <div class="box-price flexitem">
                <p>$28</p>
                <span>4 Colors</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide trending-product box">
            <div class="box-img">
              <img src="../images/like-2.webp" alt="body" />
              <a href="#" class="btn flexcenter">Quick View</a>
            </div>
            <div class="box-info">
              <h4>Aura High Waisted Legging 7/8</h4>
              <p>Same manufacturer as</p>
              <ul class="box-brands flexitem">
                <li>
                  <a href="#">Vilebrequin</a>
                </li>
                <li>
                  <a href="#">Stella McCartney</a>
                </li>
              </ul>
              <div class="box-price flexitem">
                <p>$40</p>
                <span>2 Colors</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide trending-product box">
            <div class="box-img">
              <img src="../images/like-3.webp" alt="body" />
              <a href="#" class="btn flexcenter">Quick View</a>
            </div>
            <div class="box-info">
              <h4>Linear Short Sleeve Lightweight Tee</h4>
              <p>Same manufacturer as</p>
              <ul class="box-brands flexitem">
                <li>
                  <a href="#">Vilebrequin</a>
                </li>
                <li>
                  <a href="#">Stella McCartney</a>
                </li>
              </ul>
              <div class="box-price flexitem">
                <p>$25</p>
                <span>4 Colors</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide trending-product box">
            <div class="box-img">
              <p class="atel">Atelier</p>
              <img src="../images/like-4.webp" alt="body" />
              <a href="#" class="btn flexcenter">Quick View</a>
            </div>
            <div class="box-info">
              <h4>Laight Short Hooded Puffer Jacket</h4>
              <p>Same manufacturer as</p>
              <ul class="box-brands flexitem">
                <li>
                  <a href="#">Mackage</a>
                </li>
                <li>
                  <a href="#">Max Mara</a>
                </li>
              </ul>
              <div class="box-price flexitem">
                <p>$116</p>
                <span>1 Color</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide trending-product box">
            <div class="box-img">
              <p class="atel">Atelier</p>
              <img src="../images/like-5.webp" alt="body" />
              <a href="#" class="btn flexcenter">Quick View</a>
            </div>
            <div class="box-info">
              <h4>Airy Cashmere Crewneck Tee</h4>
              <p>Same manufacturer as</p>
              <ul class="box-brands flexitem">
                <li>
                  <a href="#">Sandro</a>
                </li>
                <li>
                  <a href="#">Maje</a>
                </li>
              </ul>
              <div class="box-price flexitem">
                <p>$100</p>
                <span>3 Colors</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide trending-product box">
            <div class="box-img">
              <img src="../images/like-5.webp" alt="body" />
              <a href="#" class="btn flexcenter">Quick View</a>
            </div>
            <div class="box-info">
              <h4>14k Solid Gold Natural Diamond Pavé Bar Bracelet</h4>
              <p>Same manufacturer as</p>
              <ul class="box-brands flexitem">
                <li>
                  <a href="#">Burberry</a>
                </li>
                <li>
                  <a href="#">Max Mara</a>
                </li>
              </ul>
              <div class="box-price flexitem">
                <p>$195</p>
                <span>3 Colors</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="press">
  <div class="press-container container">
    <div class="press-content">
      <h3>Impressing the press.</h3>
      <div class="swiper pressSwiper">
        <div class="swiper-wrapper press-list">
          <div class="swiper-slide press-text flexcenter">
            <p>
              “Luxury goods from Prada and Gucci are marked up because of their
              branding. This startup will sell them to you without the labels.”
            </p>
            <div class="press-icon">
              <img src="../images/wallstreet.svg" alt="wallstreet" />
            </div>
          </div>
          <div class="swiper-slide  press-text flexcenter">
            <p>
              “A radical business selling quality goods without the middleman
              markup.”
            </p>
            <div class="press-icon">
              <img src="../images/wallstreet.svg" alt="wallstreet" />
            </div>
          </div>
          <div class="swiper-slide  press-text flexcenter">
            <p>
              “Quality is superior to what you can find on other online
              retailers.”
            </p>
            <div class="press-icon">
              <img src="../images/wallstreet.svg" alt="wallstreet" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="comment">
    <div class="comment-container container">
        <div class="comment-content">
            <div class="comment-text">
                <span>Our commitment to quality.</span>
                <p>It all starts with our goal of making luxury-level products accessible to all. Whether it’s sourcing Grade A cashmere from Mongolia or devoting hundreds of hours of wear-testing to develop the perfect leather sneakers — we won’t sell it until we love it.</p>
            </div>
        </div>
    </div>
</section>

<section class="cashmere">
    <div class="cashmere-container">
        <div class="cashmere-content">
            <div class="cashmere-img">
                <img src="../images/bg-2.webp" alt="bg">
            </div>
        </div>
    </div>
</section>

<div class="quality">
    <div class="quality-container container">
        <div class="quality-content">
            <ul class="quality-list">
                <li>
                    <h3>Atelier Quality</h3>
                    <p>Responsibly produced by the same manufacturers as top luxury brands to ensure world-class construction.</p>
                </li>
                <li>
                    <h3>Exceptional Materials</h3>
                    <p>Sourcing the world’s finest materials with an uncompromising focus on gradation, performance, and durability.</p>
                </li>
                <li>
                    <h3>Timeless Design</h3>
                    <p>Recreating everyday essentials with subtle, considered details. Designed to improve the modern, elevated lifestyle.</p>
                </li>
            </ul>
        </div>
    </div>
</div>